table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.gridtable th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.gridtable td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

a.menuitem:link {
  border-color : black;  
  border-style: solid;
  border-width : 1px 3px 3px 1px;
  color : black; 
  padding-right : 5px;
  padding-left : 5px;
  text-decoration : none;
}

a.menuitem:hover { 
  border-color: grey;  
  color: grey;
}
